@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Roboto:400,500,700");
@import url('https://fonts.googleapis.com/css?family=Roboto');

#crak_sidebar {
    width: 210px;
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 4em;
}

#crak_sidebar svg {
    width: 144px;
    margin: auto;
    display: block;
}

#crak_sidebar h4 {
    color: #000;
    font-weight: bold;
}

#crak_version_block {
    display: block;
    width: 144px;
    line-height: 1em;
    text-align: center;
    margin: -1.7em auto 1em;
}

#crak_version {
    line-height: 1.8em;
    font-weight: bold;
}

#crak_version a {
    color: #1dbf24;
    text-decoration: none;
}

#crak_settings {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: calc(100% - 260px);
    float: left;
}

#crak_settings a,
.crak_rss_post a {
    color: #1dbf24;
    text-decoration: none;
}

.crak_read_more {
    font-weight: bold;
    float: left;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.crak_rss_post h4 {
    text-transform: uppercase;
}

#crak_settings form {
    display: none;
    padding: 45px 15px 0;
    box-sizing: border-box;
}

#crak_logo {
    margin: 1em 0 0 .67em;
    line-height: 1.2em;
}

#crak_description {
    padding: 0 18px;
}

.checkbox_parent {
    position: relative;
    padding-top: 12px;
    clear: both;
}

#crak_general_settings .checkbox_parent {
    border-top: 2em solid transparent;
}

#crak_settings label {
    display: inline-block;
    color: #656565;
}

#crak_settings label.th {
    margin-top: 1em;
}

#crak_native_tags {
    vertical-align: top;
    display: inline-block;
}

#crak_native_tags label {
    width: 7em;
    height: 2em;
}

#crak_settings legend label {
    width: auto;
}

#crak_settings #addLink {
    float: right;
}

#crak_settings table {
    width: calc(100% + 40px);
    border-spacing: 20px 0;
    margin: .7em -20px 1em;

}

#crak_settings table tr {
    padding-bottom: .1em;
}

#crak_settings table td {
    padding: 0;
    width: 25%;
}

#crak_settings #font_settings td {
    width: 16.666666666%;
    width: calc(100% / 6);
}

#crak_settings #font_settings thead label {
    margin-top: 1.5em;
}

#crak_settings table th {
    padding: 0 0 0 .2em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #656565;
}

#crak_settings table tbody .th {
    display: none;
}

#crak_settings input[type="text"],
#crak_settings select {
    border: 0;
    border-bottom: 1px #333 solid;
    box-shadow: none;
    padding: 3px 0;
    background: none;
    color: #000;
}

#crak_settings input[type='text'] {
    width: 20em;
    padding: 3px 4px;
}

#crak_settings input[type="text"]:active,
#crak_settings select:active,
#crak_settings input[type="text"]:focus,
#crak_settings select:focus {
    border-bottom: 1px #00bd00 solid;
    box-shadow: inset 0 -1px 0 #00bd00;
}

#crak_settings input[type="text"].crak_error,
#crak_settings select.crak_error {
    border-bottom: 1px #bd0000 solid;
    box-shadow: inset 0 -1px 0 #bd0000;
}

#crak_settings option {
    padding: 0;
}

#crak_settings table input[type='text'],
#crak_settings table select {
    width: 100%;
}

#crak_settings #intext td:last-child,
#crak_settings #intext th:last-child {
    width: 7em;
    text-align: right;
}

#crak_settings .tag-label {
    display: inline-block;
    text-align: left;
    position: relative;
}

#crak_settings .tag-label input{
    opacity: 0;
}

#crak_settings input[type="checkbox"] {
    opacity: 0;
    display: none;
}

#crak_settings input[type="checkbox"] + label {
    position: relative;
    width: 260px;
    max-width: 100%;
    min-width: 230px;
    padding-right: 60px;
    box-sizing: border-box;
}

#crak_settings.dashboard input[type="checkbox"] + label {
    margin-right: 30px;
}

#crak_settings input[type="checkbox"] + label:after {
    border-radius: 9px;
    content: "Off";
    position: absolute;
    transition: .25s;
    top: 0;
    right: 0;
    width: 0;
    height: 18px;
    z-index: 0;
    box-sizing: border-box;
    background-color: #bababa;
    text-indent: 8px;
    font-weight: normal;
    color: #bababa;
    padding-left: 35px;
    margin-right: 25px;
    font-size: 12px;
}

#crak_settings input[type="checkbox"]:checked + label:after {
    content: "On";
    background-color: #00bd00;
    color: #00bd00;
}

#crak_settings input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    top: 2px;
    right: 44px;
    z-index: 1;
    border-radius: 7px;
    transition: .25s;
}

#crak_settings input[type="checkbox"]:disabled + label:before {
    display: none;
}

#crak_settings input[type="checkbox"]:checked + label:before {
    right: 27px;
}

#crak_settings input[type="checkbox"].checkbox + label {
    margin: 0;
    padding: 0 0 0 2em;
    min-width: 9em;
    width: 9em;
    box-sizing: border-box;
    line-height: 1.9em;
}

#crak_settings input[type="checkbox"].checkbox + label:after {
    border-radius: 2px;
    content: "";
    left: 0;
    position: absolute;
    transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: transparent;
    border: 2px solid #5a5a5a;
}

#crak_settings input[type="checkbox"].checkbox:checked + label:after {
    content: "";
    border: 2px solid #00bd00;
    background-color: #00bd00;
}

#crak_settings input[type="checkbox"].checkbox:disabled + label:after {
    opacity: .5;
    background-color: #5a5a5a;
    border: 2px solid #5a5a5a;
}

#crak_settings input[type="checkbox"].checkbox:checked + label:before {
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #00bd00;
    border-bottom: 2px solid #00bd00;
    backface-visibility: hidden;
    position: absolute;
    transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
    z-index: 1;
    top: 2px;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(37deg);
    transform: rotate(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    box-sizing: border-box;
    border-radius: 0;
    background: none;
    right: auto;
}

#crak_settings input[type="checkbox"].checkbox:checked + label:after {
    border: 2px solid #00bd00;
    background-color: #00bd00;
}

#crak_settings input[type="checkbox"].checkbox:disabled + label:after {
    opacity: .5;
    background-color: #5a5a5a;
    border: 2px solid #5a5a5a;
}

#crak_settings input[type="checkbox"].checkbox + label:before {
    display: none;
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #00bd00;
    border-bottom: 2px solid #00bd00;
    backface-visibility: hidden;
    position: absolute;
    transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
    z-index: 1;
    top: 2px;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(37deg);
    transform: rotate(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    box-sizing: border-box;
    right: auto;
    background: none;
}

#crak_settings input[type="checkbox"].checkbox:checked + label:before {
    display: block;
}

#crak_settings table td.tiny-col,
#crak_settings #crak_intext_settings input[type="checkbox"].checkbox + label {
    width: 30px;
    min-width: 0;
    text-align: center;
    position: relative;
}

#crak_settings #crak_intext_settings input[type="checkbox"].checkbox + label {
    position: absolute;
    top: 4px;
    left: 4px;
}

#crak_settings input[type="checkbox"].enabler + label {
    font-weight: bold;
    width: 145px;
    min-width: 145px;
    float: right;
}

#crak_settings p.page-description {
    float: left;
    width: 70%;
    max-width: calc(100% - 205px);
    margin-top: 0;
}

#crak_settings table .button {
    width: 80px;
    text-align: center;
    font-weight: normal;
    margin: .15em;
    float: right;
}

#crak_settings .button,
#crak_sidebar .button {
    text-decoration: none;
    color: #fff;
    background: #00bd00;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border-radius: 2px;
    height: auto;
    line-height: 1.3em;
    padding: .7em 1.3em;
    text-shadow: none;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0 ,0 , .24);
    text-transform: uppercase;
}

#crak_settings [type='submit'].button {
    margin: 3em 0 1em;
    float: left;
    clear: both;
}

#crak_settings > .button {
    margin-right: 35px;
    width: 135px;
}

#crak_plugin_update {
    padding-bottom: 1.7em;
    border-bottom: 1px solid #b6b6b6;
    margin-bottom: 1.7em;
}

#crak_plugin_update p{
    margin: 0;
}

#crak_plugin_update h5 {
    margin: 1em 0 0;
    font-weight: bold;
}

#crak_sidebar .button {
    margin-top: 1em;
    width: 100%;
}

#crak_support {
    color: #1dbf24;
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 1em;
}

#wpwrap {
    background: #f3f3f3;
}

.wp-admin #crak_settings select {
    height: 26px;
    line-height: 26px;
}

#crak_settings .crak_required:after {
    content: ' *';
    color: #f00;
}

#crak_settings #crak_required {
    float: left;
    clear: both;
    margin-left: 18px;
}

#crak_settings #crak_required:before {
    content: '* ';
    color: #f00 !important;
}

#crak_presentation {
    width: 55em;
    max-width: 85%;
    margin: 3em 0 3em 2.6em;
}

#crak_settings p {
    margin: 1em 0 2em;
}

fieldset {
    max-height: 300vh;
}

fieldset > *:not(legend),
fieldset {
    transition: 1s;
}

.disabled {
    max-height: 1.2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.disabled > *:not(legend) {
    opacity: 0;
    overflow: hidden;
}

.quarter {
    vertical-align: top;
    width: 50%;
    height: 50%;
    display: inline-block;
    position: relative;
    font-size: 13px;
}

#crak_settings.dashboard form#crak_dashboard,
#crak_settings.popup form#crak_popup_settings,
#crak_settings.intext form#crak_intext_settings,
#crak_settings.ad form#crak_ad_settings,
#crak_settings.native form#crak_native_settings {
    display: block;
}

#crak_tabs {
    /*border-bottom: 1px solid #b6b6b6;*/
    overflow: hidden;
    padding-bottom: 1px;
}

#crak_tabs a {
    display: inline-block;
    border-radius: 4px 4px 0 0;
    border: #b6b6b6 solid 1px;
    padding: 1em 2em;
    background: #e5e5e5;
    margin: 1em 0 -1px 5px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    box-shadow: none !important;
}

#crak_tabs a:before,
#crak_tabs a:after {
    content: '';
    position: absolute;
    height: 1px;
    background: #b6b6b6;
}

#crak_tabs a:before {
    bottom: -1px;
    right: 100%;
    width: 10px;
}

#crak_tabs a:after {
    bottom: -1px;
    left: 100%;
    width: 1000px;
}

#crak_tabs a.disabled {
    display: none;
}

#crak_settings.dashboard [href='#page_dashboard'],
#crak_settings.popup [href='#page_popup'],
#crak_settings.intext [href='#page_intext'],
#crak_settings.ad [href='#page_ad'],
#crak_settings.native [href='#page_native'] {
    background: #f3f3f3;
    border-bottom: #f3f3f3 solid 1px;
}

#crak_settings #crak_dashboard input[type="checkbox"] + label {
    font-weight: bold;
    margin-bottom: 1em;
}

#crak_settings h2 {
    font-size: 19px;
    margin: 2em 0 1em;
    color: #000;
}

#crak_settings .first-col > h2:first-child {
    margin-top: 0;
}

#crak_settings h2 label {
    color: #000;
}

.first-col {
    float: left;
    width: 50%;
    padding-right: 40px;
    box-sizing: border-box;
}

.second-col {
    float: left;
    width: 50%;
}

.first-row {
    display: block;
}

.first-row,
.second-row {
    float: left;
    width: 100%;
}

#crak_dashboard .second-col .first-row label {
    font-size: 1.1em;
    color: #000;
}

#crak_dashboard .widget-desc {
    width: 50%;
    float: left;
}

.affid {
    color: #0d98a5;
}

#search-input {
    width: 100%;
    height: 31px;
    font-size: 12px;
    line-height: 31px;
    border-radius: 3px;
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAgtJREFUOBGdk89LG1EQx7u7gcSIF136F2hiwFNiju0/kB+CniQGb7Y99SBeij82Bym10EOp99xKySmYXNRDQPAg60lJSQpe6k1IPcWlmMTPhGx4u7UQHRjevJnvfN+befO0F4rk8/nxVqv1FtciGtM0LcR63ev1jgKBwH65XK4rcI+pubtsNvu60+n8YG9CcMh6ht6h0+gCOoX/UyKR2LIsq8veIwHZCUm32z0C+IvT05VK5VxFEV8n/gX9YNv2JLF3alxsQ8ppt9snkFybpjlfKpV++0GNRuNvs9k8iEQicpONWCx2ge+nitMHPTG5yWqxWHTUoN9OJpMf8dncrOCP6dxkCT2sVquecvxA2dObe5Y9Dp1Lp9MzKkbHOYtDGjuSBINBFyt5Q9GxxlB5nZGEg/tYqjDUBClNmitPPJIwIv2SyLtUE4ToGMcCTzyhBv5n0+gVYn/i8fiVitGRbzimZE7UwGN2KpV6hX8N3fUPpcE83ESj0SC1v5c5yeVyp7Va7Z/JlaGF4DvqhMPh5Xq93sEeSv+LwK4zsfuQyT+zueVnwzDOuOUdvplBOWu04Yb9S9YC028NWTCGf02cnLpIUgHwnAekabck74ZCoa+O42yC2fKTeYjc5MGwzQI20EtprNoTeiWTve0nc/OftAoZ2stkMtuSKAP5LOFL7XAjiza8QR+t7EnELskDm7bg7wMGwJsAAAAASUVORK5CYII=') no-repeat right 6px center;
    background-size: 18px;
    padding: 0 10px;
    border: solid 1px #c1c1c1;
}

#search-btn {
    display: none;
}

#search-form {
    padding-bottom: 1.7em;
    border-bottom: 1px solid #b6b6b6;
}

.crak_rss_post {
    border-bottom: 1px solid #dedcdc;
    float: right;
}

.crak_rss_post:last-of-type {
    border: 0;
}

.crak_rss_post img {
    max-width: 100%;
    display: block;
    margin: auto;
}

#crak_native_settings h2 {
    border-bottom: 1px solid #b6b6b6;
    padding: 1em 0 1em;
}

.crak_info {
    background: #fff;
    border: solid 1px #c1c1c1;
    padding: 0 2em;
    border-radius: 4px;
    box-sizing: border-box;
}

#crak_social {
    display: block;
    border-top: 1px solid #b6b6b6;
    float: left;
    width: 100%;
    margin-top: 2.2em;
    padding: 1.3em 0 0;
    font-weight: bold;
}

#crak_social a {
    width: 29px;
    height: 29px;
    display: inline-block;
    margin: -4px 0 -4px 10px;
    vertical-align: top;
}

#crak_social p {
    font-size: 1.15em;
    padding-left: .5em;
}

@media (max-width: 1135px) {
    #crak_dashboard > div,
    #crak_dashboard > div > div {
        width: 100%;
        float: none;
        height: auto;
    }

    #crak_dashboard .second-row .second-col {
        margin: 0;
    }
}

@media (max-width: 720px) {
    #crak_settings form {
        width: 100%;
        float: none;
        padding: 45px 0 0;
    }

    #crak_sidebar,
    #crak_settings {
        width: calc(100% - 20px);
        box-sizing: border-box;
    }

    #crak_settings input[type="checkbox"].enabler + label {
        width: 145px;
        min-width: 145px;
        float: left;
    }

    #crak_settings p.page-description {
        width: 100%;
        margin-top: 1em;
        max-width: 100%;
    }

    #crak_dashboard .widget-desc {
        width: 100%;
    }

    .first-col {
        padding: 0;
    }

    #crak_settings table,
    #crak_settings table tbody,
    #crak_settings table tr,
    #crak_settings table td,
    #crak_settings #font_settings td {
        margin: auto;
        padding: 0;
        display: block;
        float: left;
        width: 100%;
    }

    #crak_settings table tr {
        padding-bottom: 2em;
    }

    #crak_settings #font_settings tr {
        padding-bottom: 0;
    }

    #crak_settings table tbody .th {
        display: block;
    }

    #crak_settings table td.tiny-col {
        float: left;
        width: 33%;
        text-align: left;
    }

    #crak_settings thead {
        display: none;
    }
}